<!DOCTYPE html>
<html>
  <link rel="icon" type="image/png"
 href="http://qph.is.quoracdn.net/main-qimg-1d284f5b6741ad4043f25de4dd293dfa?convert_to_webp=true">
 <head>
  <meta charset="UTF-8">
  <title>Insta Fit</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>InstaFit</h1>
   <h3>Please Enter Your Information</h3>
  <form method="POST" action="/outfit">
    -------------------------------------<br>
<input type="text" name="zipcode" placeholder="Current Zipcode"><br>
    <a href="http://maps.huge.info/zip.htm" target="_blank"><font size="2">Don't know your zipcode?</font></a>
<br>-------------------------------------<br>
    <input type="radio" name="sex" value="male" checked><img src="https://www.lifesizestandups.com.au/media/catalog/product/cache/2/image/650x650/9df78eab33525d08d6e5fb8d27136e95/m/a/male-icon-010.jpg" width="125" height="125" border="0">
    <input type="radio" name="sex" value="female"><img src="https://www.lifesizestandups.com.au/media/catalog/product/cache/2/image/650x650/9df78eab33525d08d6e5fb8d27136e95/f/e/female-icon-012.jpg" width="125" height="125" border="0"> <br> -------------------------------------
  <br> <select name="occasion">
  <option value="" disabled selected>Occasion</option>
  <option value="casual">Casual</option>
  <option value="night out">Night Out</option>
  <option value="office work">Office/Work</option>
  <option value="very fancy">Fancy</option>
</select><br> -------------------------------------
    <br>
<input type="submit" value="Submit">
</form>
   <h5> To shop for similar outfits, check out these stores! <h5></font> <br>
   <a href="http://www.necessaryclothing.com/clothing-1.html" target="_blank">
<img src="http://www.studentrate.com/Assets/Rad/Images/vendorImages/140395/necessary-Clothing.jpg" width="125" height="125" border="0">
</a>
   <a href="http://www.urbanoutfitters.com/urban/index.jsp?cm_sp=SITE_HEADER-_-HOME-_-index.jsp" target="_blank">
<img src="https://pbs.twimg.com/profile_images/378800000762648952/0631d42a0eba930c822711faecc87c01_400x400.png" width="125" height="125" border="0">
</a>
   <a href="http://www.freepeople.com/" target="_blank">
<img src="http://static1.squarespace.com/static/544ffddae4b0fe51eaa042bf/t/54ab00c9e4b07985e37aed9b/1420493018495/Free+People+logo" width="125" height="125" border="0">
</a>
       <a href="http://www.forever21.com/" target="_blank">
<img src="http://fontmeme.com/images/Forever-21-Logo.gif" width="125" height="125" border="0">
</a>
        <a href="http://www.abercrombie.com/shop/us" target="_blank">
<img src="http://cf.juggle-images.com/matte/white/280x280/abercrombie-and-fitch-1-logo-primary.jpg" width="125" height="125" border="0">
</a>
 </body>
</html>