<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Insta Fit</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>InstaFit</h1>
   <h3>Please Enter Your Information</h3>
  <form method="POST" action="/outfit">
<input type="text" name="zipcode" placeholder="Current Zipcode"><br>
    <a href="http://maps.huge.info/zip.htm" target="_blank"><font size="2">Don't know your zipcode?</font></a>
<br><br>
    <input type="radio" name="sex" value="male" checked><font color="blue">Male</font>
    <input type="radio" name="sex" value="female"><font color="red">Female</font>
  <br>
  <br> <select name="occasion">
  <option value="" disabled selected>Occasion</option>
  <option value="casual">Casual</option>
  <option value="night out">Night Out</option>
  <option value="office work">Ofice/Work</option>
  <option value="very fancy">Fancy</option>
</select>
    <br><br>
<input type="submit" value="Submit">
</form>
 </body>
</html>