<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Insta Fit</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>InstaFit</h1>
   <h3>Please Enter Your Information</h3>
  <form method="POST" action="/outfit">
Zipcode
<input type="text" name="zipcode" placeholder="Current Zipcode">
<br><br>
<input type="radio" name="sex" value="male" checked>Male
<br>
<input type="radio" name="sex" value="female">Female
<br><br>
    Occasion <select name="occasion">
  <option value="casual">Casual</option>
  <option value="night out">Night Out</option>
  <option value="office work">Ofice/Work</option>
  <option value="very fancy">Fancy</option>
</select>
    <br><br>
<input type="submit" value="Submit">
</form>
 </body>
</html>