<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>dog's are the coolest</title>
  <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
 </head>
 <body>
  <h1>Outfit</h1>
   <p>You live in <%=@outfit1.zipcode%>.
     <br> You are a <%=@outfit1.sex%>. 
     <br> You need an outfit for <%=@outfit1.occasion%> . </p>
 </body>
</html>