@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
h1{
  color: white;
  font-family:;
  text-shadow: 2px 2px #ff0000;
}
h3{
  color: white;
  text-shadow: 2px 2px #ff0000;
}
body {
  text-align: center;
background-image: url("http://static.hdw.eweb4.com/media/wallpapers_dl/1/131/1303365-vintage-bike-background.jpg");
  background-size: 1050px 609px;
  font-family: Inconsolata;
}
form{
     background-color: white;
  opacity: .8;
    width: 300px;
    padding: 25px;
    border: 25px;
    margin: auto;
}
div {
     background-color: white;
  opacity: .8;
    width: 400px;
    padding: 25px;
    border: 25px;
    margin: auto;
    font-family: Inconsolata;
}